<main>
  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-5">
        <div class="card-content black-text">
          <i class="large material-icons js-full-width center-align">timer</i>
          <span class="card-title center-align">Schedule recurring tasks for your app</span>
          <p class="center-align">Job Scheduler lets you add jobs which are executed at regular intervals.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 center-align ">
      <a class="js-full-width waves-effect waves-light btn-large deep-purple darken-1">Add Job</a>
    </div>
  </div>
</main>