<js-header></js-header>
<footer class="page-footer indigo darken-4">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h5 class="grey-text text-lighten-4">
                    Have problems running your task. Contact us at:
                </h5>
                <p class="grey-text text-lighten-4">
                    <!--Have a project or idea that you need to build?<br>-->
                    <strong><a class="white-text" href="mailto:info@jobscheduler.com">info@jobscheduler.com</a></strong>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright center-align">
        <div class="container">© 2017 Copyright Job-S</div>
    </div>
</footer>